
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        {% if backend.security.logged %}
        <div class="container-fluid">
            <span class="navbar-text">
                PivotX version 4.0.x
            </span>

            <span class="navbar-text">
                {# loadList 'Backend/BreadcrumbMenu' as menu #}
                {# loadList ['Backend/Topmenu','Backend/Profilemenu','Backend/FooterMenu'] as menu #}
                
                {% loadList 'Backend/Topmenu' as menu %}
                <ul class="breadcrumb">
                {% for breadcrumb in menu.breadcrumbs %}
                    {% if not breadcrumb.islast %}
                    <li><a href="{{ breadcrumb.link }}">{{ breadcrumb.label }}</a> <span class="divider">/</span></li>
                    {% else %}
                    <li class="active">{{ breadcrumb.label }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </span>

            {% if siteoptions.translations_debug is defined %}
            <div class="btn-group pull-right">
                <a class="btn toggle-translations" href="#">
                    <i class="icon-wrench"></i> {{ translate('footer.button.translations') }}
                </a>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

{% include "Include/modals.html.twig" %}
