{% extends "Base/content.html.twig" %}

{% block content %}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}


<div class="login">
<h1>Welcome</h1>
<hr />
<form action="{{ ref('_page/login_check') }}" method="post">
    <label for="email">E-mail:</label>
    <input type="text" id="email" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <label for="remember_me">
    <input type="checkbox" id="remember_me" name="_remember_me" checked />
    Keep me logged in</label>

    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit">login</button>
</form>
</div>


{% endblock %}
