
                <div class="span6">
                    <h2>Voorbeeld</h2>
                    <p>Hier kan nieuws komen te staan, of statistieken, of andere interessante dingen.</p>
                    <p><a class="btn" href="#">Met een knop dus &raquo;</a></p>
                </div><!--/span-->
