
/* @todo these should be more specified */

.on-row-hover {
    visibility: hidden;
}

.on-row-active {
    visibility: visible !important;
}

.hide-on-row-hover {
}


.on-icon-button {
    opacity: 0.3;
}

.on-icon-active {
    opacity: 1;
}

tr:hover .on-row-hover {
    visibility: visible;
}

tr:hover .hide-on-row-hover {
    visibility: bidden;
}

.on-row-hover.btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;
}

/* Sidebar -------------------- */

.sidebar-nav {
    padding: 0;
    background-color: #EBE9DC;
    border-radius: 0;
}

.well.sidebar-nav {
    border: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px inset
}

.sidebar-nav .tab-content {
    padding: 0 1em;
}

.sidebar-nav .tab-content ul h3 {
    font-size: 18px;
    font-size: 1.8rem; 
}

.sidebar-nav .tab-content ul li {
    border-bottom: 1px solid #fff;
}


/* Tabs -------------------- */

.nav-tabs {
    background-color: #F5F6F1;
    border-bottom: 3px solid #EBE9DC;
}

.nav-tabs li.active > a {
    background-color: #EBE9DC;
    border: 1px solid #EBE9DC;
    font-weight: bold;
}

/* Navigation -------------------- */

.header .nav .btn {
    border: 0;
    background-image: none;
    background-color: #fff;
    border-right: 1px solid #EBE9DC;
    border-radius: 0;
    box-shadow: none;
}

.btn-group .pull-left a.btn.dropdown-toggle:last-child {
    border-right: 1px solid #f00;
}

/* Modal -------------------- */

#default-modal.modal-snippets { width: 800px; margin-left: -400px}

.modal-header {
    background-color: #222;
    color: #fff;
}

.modal-header h3 {
    font-weight: normal;
}

.modal-header .close {
    color: #fff;
}

#default-modal.modal-snippets .modal-body {
    padding: 15px 0;
}

.modal-body, div.modal-footer {
    background-color: #F6F2F0;
}

div.modal-footer {
}

body.pivotx-hide-translated span.pivotx-is-translated {
    background-color: #000 !important;
    color: #000 !important;
}

body.pivotx-hide-translated span.pivotx-is-translated.automagic {
    background-color: #f00 !important;
    color: #f00 !important;
}

body.pivotx-hide-translated div.tooltip div.tooltip-inner {
    border: 1px solid #fff;
    white-space: nowrap;
}


/* Notifications -------------------- */

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
   
}
