
html body {
	background-color: #F5F6F1;
    padding: 60px 0 90px 0;    
}



/* Login -------------------- */


.login {
    max-width: 300px;
    margin: 0 auto;
    background-color: #EBE9DC;
    padding: 1em;
}

.login h1 {
    font-weight: normal;
    font-size: 2rem;
    font-size: 20px;
    margin: 0 auto;
}

.login button[type=submit] {
    border: 1px solid #72A294;
    background-color: #80B5A5;
    color: #fff;
    font-weight: bold;
    width: 100%;
}


/* just copied this */

.sidebar-nav {
    padding: 9px 0;
}


/* extra big bottom navbar otherwise our symfony debug bar overrides it */
.navbar-fixed-bottom .navbar-inner {
    min-height: 80px;
}

/* inline breadcrumb */
.navbar-fixed-bottom .breadcrumb {
    display: inline;
}

/* more spaces in the top menu */
.navbar-fixed-top .navbar-inner .nav > li {
    margin-right: 5px;
}
