
/* @todo these should be more specified */

.on-row-hover {
    visibility: hidden;
}

.on-row-active {
    visibility: visible !important;
}

.hide-on-row-hover {
}


.on-icon-button {
    opacity: 0.3;
}

.on-icon-active {
    opacity: 1;
}

tr:hover .on-row-hover {
    visibility: visible;
}

tr:hover .hide-on-row-hover {
    visibility: bidden;
}

.on-row-hover.btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;
}



/* Modal */

#default-modal.modal-snippets { width: 800px; margin-left: -400px}

.modal-header {
    background-color: #222;
    color: #fff;
}

.modal-header h3 {
    font-weight: normal;
}

.modal-header .close {
    color: #fff;
}

#default-modal.modal-snippets .modal-body {
    padding: 15px 0;
}

.modal-body, div.modal-footer {
    background-color: #F6F2F0;
}

div.modal-footer {
}

body.pivotx-hide-translated span.pivotx-is-translated {
    background-color: #000 !important;
    color: #000 !important;
}

body.pivotx-hide-translated span.pivotx-is-translated.automagic {
    background-color: #f00 !important;
    color: #f00 !important;
}

body.pivotx-hide-translated div.tooltip div.tooltip-inner {
    border: 1px solid #fff;
    white-space: nowrap;
}
