/**
 * Crud generic specifics
 */

.crud-less-is-more div.more {
    display: none;
}

.crud-hide {
    display: none;
}


/**
 * Tri selects
 */

.triselect .tri-0 {
    display: inline;
}

.triselect .tri-1,
.triselect .tri-x {
    display: none;
}


/**
 * Crud tables
 */

table.crud th.sort-by {
    cursor: pointer;
}

table.crud th.column-checkbox {
    width: 15px;
    min-width: 15px;
}

table.crud th.column-id {
    width: 50px;
    min-width: 50px;
}

table.crud td.select-checkbox {
    width: 15px;
}

/* @todo this style is not working */
table.crud td div.btn-group:first-child {
    display: block !important;
}


/**
 * Crud table filters
 */

div.crud-filter {
    background-color: #eee;
}

div.crud-filter .filter-checkbox {
    float: left;
    width: 200px;
}


/**
 * Crud forms
 */

form.crud-edit-form div.row-fluid {
    margin-top: 1em;
}

form.crud-edit-form div.row-fluid label {
    font-weight: bold;
}

form.crud-edit-form textarea.textarea-high {
    height: 20em;
}

form.crud-edit-form span.crud-fileinput {
    position: relative;
    cursor: pointer;
}

form.crud-edit-form span.crud-fileinput input {
    position: absolute;
    top: 0;
    left: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

form.crud-edit-form div.file-drop-target {
    margin-bottom: 0.2em;
}

form.crud-edit-form div.file-drop-target.drag-target {
    padding-top: 2em;
    padding-bottom: 2em;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}

form.crud-edit-form ul.files li.no-file {
    display: none;
}

form.crud-edit-form ul.files li div.progress {
    display: inline-block;
    margin: 0 0 -3px 10px;
    width: 200px;
}

form.crud-edit-form ul.files li span.label-success,
form.crud-edit-form ul.files li span.label-important {
    margin-left: 10px;
}

form.crud-edit-form ul.files li div.file {
    height: 62px;
}

form.crud-edit-form ul.files li div.file div.preview {
    float: left;
    margin-right: 10px;
    border: 1px solid #888;
    width: 90px;
    height: 60px;
    background-color: #eee;
    font-size: 10px;
    text-align: center;
}

form.crud-edit-form ul.files li div.file div.preview,
form.crud-edit-form ul.files li div.file div.preview img {
    border-radius: 3px;
    max-width: 90px;
    max-height: 60px;
}


form.crud-edit-form div.unique input {
    display: none;
}

form.crud-edit-form div.unique div.suggestions ul {
    list-style: none;
    margin: 2px 0 0 0;
    padding: 0;
}

form.crud-edit-form div.unique div.suggestions ul li {
    display: inline;
    margin: 0;
    padding: 0 5px 0 0;
}


/**
 * Crud table specifics
 */

form.crud-edit-form div.file-selection div.preview,
table.crud-genericresource div.preview {
    height: 60px;
}
