
body {
	background-color: #F5F6F1;
    padding: 60px 0 90px 0;    
}

.header {
	background-color: #f00;
}


/* just copied this */

.sidebar-nav {
    padding: 9px 0;
}


/* extra big bottom navbar otherwise our symfony debug bar overrides it */
.navbar-fixed-bottom .navbar-inner {
    min-height: 80px;
}

/* inline breadcrumb */
.navbar-fixed-bottom .breadcrumb {
    display: inline;
}

/* more spaces in the top menu */
.navbar-fixed-top .navbar-inner .nav > li {
    margin-right: 5px;
}
