
body {
	background-color: #F5F6F1;
    padding: 60px 0 90px 0;    
}

.header {
	background-color: #564E47;
}


/* just copied this */
.sidebar-nav {
    padding: 9px 0;
}

/* extra big bottom navbar otherwise our symfony debug bar overrides it */

.navbar-fixed-bottom .navbar-inner {
    min-height: 80px;
}

