{#
  Arguments are:

  items       activity view
#}

<ul class="unstyled">
{% for loopvar in items.htmliterator({'groupingby':'datelogged_date'}) %}
    {% set entry = loopvar.value %}
    {% if loopvar.group_start %}
        <li>
            <h3>{{ entry.datelogged_date }}</h3>
    {% elseif loopvar.item %}
            <p>
                <em>{{ entry.datelogged_time }}</em> -
                {% if entry.user is not null %}
                    {{ entry.user.email }} -
                {% endif %}
                {{ entry.compiledfriendlymessage }}
            </p>
    {% elseif loopvar.group_end %}
            <br/>
        </li>
    {% endif %}
{% endfor %}
        <li>
            More later&hellip;
        </li>
</ul>
