
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        {#
        <div class="container">
            <footer>
                <p>PivotX version 4.1.x</p>
            </footer>
        </div>
        #}

        <div class="container-fluid">
            <div class="btn-group pull-right">
                <a class="btn" href="#">
                    <i class="icon-wrench"></i> Configuration
                </a>
            </div>
        </div>
    </div>
</div>

{% include "BackendBundle:Include:modals.html.twig" %}
