
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        {#
        <div class="container">
            <footer>
                <p>PivotX version 4.1.x</p>
            </footer>
        </div>
        #}

        {% if backend.security.logged %}
        <div class="container-fluid">
            <div class="btn-group pull-right">
                <a class="btn" href="#">
                    <i class="icon-wrench"></i> {{ translate('footer.button.configuration') }}
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% include "Include/modals.html.twig" %}
